/* App.css */

/* Container que vai dividir a tela em duas partes */
.container {
  display: flex;
  height: 100vh;
}

/* Lado esquerdo com o formulário de login */
.left {
  flex: 1; /* Ocupa metade da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Cor de fundo para o lado esquerdo */
}

/* Formulário de login */
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* Cor verde para o botão */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

/* Lado direito com a imagem e fundo verde */
.right {
  flex: 1; /* Ocupa a outra metade da tela */
  background-color: #2ecc71; /* Cor de fundo verde */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  max-width: 80%; /* Ajusta o tamanho da imagem */
  height: auto;
}

/* área logada*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.sidebar {
  width: 250px;
  background-color: #3da05e;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar h1 {
  font-size: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h2 {
  margin: 0;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input, .search-bar select {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.new-button {
  background-color: #3da05e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
table th {
  background-color: #f0f0f0;
}
.actions {
  display: flex;
  gap: 10px;
}
.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.actions button:hover {
  color: #3da05e;
}